.root {
  position: relative;
  display: inline-block;
  width: 100%;
}

.value {
  display: flex;
  justify-content: space-between;
  min-height: 2rem;
  background: rgb(223, 225, 230);
  padding: 0.5em;
  border-radius: 0.3rem;
  color: var(--gray-1);
  font-size: var(--font-size-2);
  font-weight: 500;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}

.value:hover {
  transform: scale(1.01);
}
