.boardList {
  background: var(--bg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  gap: 2rem;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1.2rem;
  min-height: 80vh;
}
