.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audience {
  color: var(--gray-3);
  font-size: var(--font-size-2);
  font-weight: 500;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
}

.audience svg {
  --size: 1.6rem;
  width: var(--size);
  height: var(--size);
}

.audienceSelectionItem {
  font-size: var(--font-size-2);
  display: flex;
  gap: 1rem;
  align-items: center;
}

.audienceSelectionItem svg {
  --size: 1.6rem;
  width: var(--size);
  height: var(--size);
}
