.value {
  font-size: var(--font-size-3);
}

.value * {
  max-width: 100%;
}

.label {
  font-size: var(--font-size-1);
  color: var(--gray-4);
  font-weight: 500;
}

.actionsBtn {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
}
